.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    position: relative;
    width: 74vh;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .bg {
      width: 100%;
      height: 100%;
    }
    .chouchoule {
      position: absolute;
      top: 10vh;
      left: 33vh;
      width: 30vh;
      height: auto;
    }
    .tongsouwuqi {
      position: absolute;
      top: 47.5vh;
      left: 23vh;
      width: 28vh;
      height: auto;
      background-color: white;
      z-index: 1000;
    }

    .crazy_number_box {
      font-family: hopa;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 46vh;
      left: 23vh;
      width: 28vh;
      height: 10vh;
      font-size: 64px;
      color: goldenrod;
      letter-spacing: 6px;
      z-index: 200;
    }

    .button-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 64vh;
      width: 32vh;
      height: 10vh;

      .button {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        label {
          img {
            margin-top: 12px;
          }
        }
      }

      .zhongjiangrenshu {
        img {
          width: 8vh;
          height: auto;
        }
      }

      .kaishi {
        img {
          width: 12vh;
          height: auto;
        }
      }

      .retry {
        img {
          width: 8vh;
          height: auto;
        }
      }
    }

    .results {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 75vh;
      width: 36vh;
      height: 11vh;
      color: white;
      font-size: 24px;
      div {
        margin: 0 6px;
      }
    }
  }
}
